--------------------------------------------------------------------------------
UUID: {{ uuid }}

{% for hx in hexagrams %}
Hexagram {{ loop.index }}: {{ hx.upper_symbol }} above {{ hx.lower_symbol }}
  Names: {{ hx.upper_name }} ({{ hx.upper_en }}) over {{ hx.lower_name }} ({{ hx.lower_en }})
  Binary: {{ hx.code }} ({{ hx.upper_code }} | {{ hx.lower_code }})
  {{ hx.upper_desc }}
  {{ hx.lower_desc }}
{% endfor %}
--------------------------------------------------------------------------------
